<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The Honest Politician" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="small-12 columns">
        <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <script>
        // ToDo: redraw this mofo... zurb foundation 5 should make it easier, not harder to develop web apps
        // this is necessary due to a bug in the orbit slider
        function fixitnow() {
            $(window).resize();
        }
        $(document).foundation({
            orbit: {
                bullets: false,
                navigation_arrows: true,
                slide_number_text: '/',
                before_slide_change: fixitnow,
                timer_speed: 1000,
            }

        });
        $(document).ready(function() {
            $('dd a').click(function() {
                fixitnow();
            });
        });
    </script>
  </body>
</html>
